@import "~bootstrap/scss/bootstrap";

body {
  background-color: rgb(128, 204, 141);
  background-image: url("https://png.pngtree.com/element_origin_min_pic/17/08/05/8ba05af80d01df4f8d3167bf24383d9f.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#tasks, #completed {
  width: 75%;
}

.delete-img {
  max-width: 15px;
  max-height: 15px;
}

.edit-img {
  max-width: 20px;
  max-height: 20px;
}

#new-task {
  width: 50%;
}

.input-group {
  width: 50%;
}

#completed {
  .title-container {
    color: red;  
    text-decoration: line-through;
  }
  .card-title {
    color: white;
  }
}

#add-edit-task{
  background-color: grey;
  width: 75%;
  margin-top: 15%;
}

#edit-form-task-name {
  width: 90%;
}