@import "~bootstrap/scss/bootstrap";

body {
  background-color: azure;
}

#tasks {
  width: 75%;
}

.delete-img {
  max-width: 15px;
  max-height: 15px;
}

.edit-img {
  max-width: 25px;
  max-height: 25px;
}

#new-task {
  width: 50%;
}